doctype html
html(lang='en')
  head
    link(rel="stylesheet" href="/css/style.css")
    script(src="/js/main.js" defer)

  body
    header
    main
      include ../../_include/_included.pug
      p This is Pug oriented page.
      a(href="/index.html") goto Toppage
    footer
