doctype html
html(lang='en')
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="icon" href="/favicon.ico")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="manifest" href="/manifest.json")
    link(rel="author" href="/humans.txt")
    link(rel="stylesheet" href="/css/style.css")
    script(src="/js/main.js" defer)

  body
    header
    main
      include ../_include/_included.pug
      p This is Pug oriented page.
      a(href="/subpage/subpage.html") goto subpage
    footer
