<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="author" href="/humans.txt" />
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js" defer>
  </head>
  <body>
    <header></header>
    <main>
      <% include ../_include/_included.ejs %>
      <p>This is EJS oriented page.</p>
      <a href="/subpage/subpage.html">goto subpage</a>
    </main>
    <footer></footer>
  </body>
</html>